.card {
  display: flex;
  flex: 1;
  height: 60px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 50px 25px 25px 25px;
  font-size: large;
}
.firstrow {
  box-sizing: border-box;
  display: flex;
}
.Asset-table {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table1 {
  justify-content: center;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
}
.content {
  font-size: larger;
  width: 140px;
  height: 30px;
  text-align: center;
}
.secondrow {
  text-align: center;
}
